{

  "parser": "babel-eslint",
  "settings": {
    "import/core-modules": ["sharedComponents"]
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "extends": "airbnb",
  "plugins": [
    "import",
    "react"
  ],
  "rules": {
    "no-console": 0,
    "semi": 0,
    "import/newline-after-import": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
  },
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "document": true
  }
}
