.project
.rvmrc
.ruby-gemset
public/clientapps
local_Procfile
public/client_update.xml
*.log
*.orig
nbproject/private
.idea
tmp
.bundle
hudson
test/reports
*.swp
db/schema.rb
*\#
.\#*
*.swp
.DS_Store
bundle_local
app/models/*.rb.new
notes
log/*
*.swo
.tags*
tags
TAGS
/cscope.*
script/local_phoenix.rb
Gemfile.lock
Result
NERD_tree_2
app/metal/speedy.rb.s
dump.rdb
coverage/
config/development.sphinx.conf
db/sphinx/
config/test.sphinx.conf
gtforge_server.iml
node_modules/*
config/database.yml.devil
config/database.yml.devuk
.sass-cache/
.rspec
.tags
vendor/gemset
spec/cassettes/
script/test_ru_geocoding.rb
app/assets/javascripts/b2b.bundle.js

db/reports/
.rspec
.tags
.tags_sorted_by_file
stuff.org

stdout
.floo
.flooignore
